body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #0e0e0e;
  color: white;
}

nav {
  width: 100%;
  padding: 18px 40px;
  background: #000;
  border-bottom: 1px solid #222;
}

.main {
  color: #ffc400;
  font-size: 24px;
}

.detailContainer {
  display: flex;
  gap: 40px;
  padding: 50px;
}

.poster img {
  width: 330px;
  border-radius: 14px;
  box-shadow: 0px 0px 18px rgba(255,255,255,0.1);
}

.info {
  max-width: 700px;
}

.info h1 {
  font-size: 38px;
  margin: 0;
}

.info h2 {
  margin-top: 25px;
  font-size: 22px;
}

.info p {
  font-size: 18px;
  color: #bdbdbd;
}

#officialSite {
  display: inline-block;
  margin-top: 25px;
  background: #ffc400;
  padding: 12px 18px;
  border-radius: 6px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  transition: .3s;
}

#officialSite:hover {
  background: #d8aa00;
}
