body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #121212;
}
nav {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
  border-bottom: 1px solid #222;
}

.menu {
  display: flex;
  gap: 35px;
  list-style: none;
}

.menu a {
  color: #9c9cfa;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  color: #fff;
}

.right-side {
  display: flex;
  align-items: center;
  gap: 15px;
}

.right-side input {
  padding: 8px 12px;
  background: #1a1a1a;
  border: none;
  border-radius: 6px;
  color: #fff;
  width: 250px;
}

.login {
  background: #e50914;
  padding: 10px 15px;
  border-radius: 6px;
  text-decoration: none;
  color: #fff;
  transition: 0.3s;
}

.login:hover {
  background: #b70710;
}

.main {
   color: azure;
  height: 40px;
  margin-left: 15px;
}
#filmType {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 22px;
  padding: 30px;
}

.card {
  background: #181818;
  border-radius: 10px;
  cursor: pointer;
  padding-bottom: 12px;
  transition: 0.3s;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.card h3 {
  color: white;
  font-size: 18px;
  margin-left: 10px;
}

.card p {
  color: #b3b3b3;
  margin-left: 10px;
}

.card:hover {
  transform: scale(1.06);
  background: #202020;
}

.searchResult {
  position: absolute;
  top: 70px;
  right: 40px;
  width: 350px;
  max-height: 450px;
  overflow-y: auto;
  background: #1a1a1a;
  border-radius: 10px;
  padding: 15px;
  display: none;
  flex-direction: column;
  gap: 12px;
  z-index: 1000;
}

.searchItem {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
  padding: 8px;
  border-radius: 8px;
  transition: 0.3s;
}

.searchItem:hover {
  background: #242424;
}

.searchItem img {
  width: 60px;
  border-radius: 6px;
}

.searchItem span {
  color: white;
  font-size: 16px;
}

::placeholder {
  color: #7c7c7c;
}

